@mixin font-title{
      text-align: center;
      font-family: 'Ruge Boogie', cursive;
      font-size: 4.5rem;
    }
 @mixin font-text{
     font-family: 'Cookie', cursive;
     font-size: 2rem;
    }
@mixin font-footer{
      text-align: center;
      font-family: 'Ruge Boogie', cursive;
      font-size: 2.5rem;
    }

 @mixin font-subtitle{
    font-family: 'Rochester', cursive;
}
@mixin font-nav{
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;
    color: $blue;
    font-family: 'Rochester', cursive;
}

 @mixin images{
    @media screen and (min-width:970px) {
     img[data-src-970px] {
     content: attr(data-src-970px, 'images/quidditch-pitch.jpg');
      }

      }
 }
