
//Fonts Mixins--------------------------------
@mixin font-title{
      text-align: center;
      font-family: 'Ruge Boogie', cursive;
      font-size: 5rem;
      color:#000;
    }
 @mixin font-text{
     font-family: 'Cookie', cursive;
     font-size: 2rem;
    }
@mixin font-footer{
      text-align: center;
      font-family: 'Ruge Boogie', cursive;
      font-size: 2.5rem;
    }

 @mixin font-subtitle{
    font-family: 'Rochester', cursive;
     color:$container;
}
@mixin font-nav{
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;
    color: $blue;
    font-family: 'Rochester', cursive;
}

// Stciky footer Mixin------------------------
@mixin sticky-footer{
    html{
        position: relative;
        min-height: 100%;
    }
    body {
        margin-bottom: 60px;
    }

    .footer{
        position: absolute;
        bottom: 0;
        height: 60px;
        width:100%;
      }

   }

