
@import "variables";
@import "mixins";

//Fonts
*{
    h1{
    @include font-title;
  }
    h2{
     @include font-nav;
     text-align:left;
    }
    h3,h4{
    @include font-subtitle;
    }
    p{
     @include font-text;
    }
}
#strong{
    color:orange;
    text-transform: capitalize;
}


.jumbotron{
  background-color: $container;
  padding: 0px;
  margin: 0px;

 img{
  padding: 0px;
 }
}



.navbar .navbar-inner {
    padding: 0px;
    margin: 0px;
      }
      .navbar .nav {
        margin: 0px;
        display: table;
        width: 100%;
      }
body{
background-color:$bodyColor;
}
.container{
background-color: $container;
//   @media (min-width: 1200px) {
//        width:1390px;
//    }
}
.masthead{
    background-color: $nav;
      }
.navbar{
    background-color: $tab;
}
.nav>li>a:hover, .nav>li>a:focus{
  background-color: $bodyColor;
}

 footer{
    background-color: $nav;
    padding: 1rem;
     clear:both;
 }
footer p{
    @include font-footer;
     padding-top: 0.5rem;
}
      .navbar .nav li {
        display: table-cell;
        width: 25%;
        float: none;
      }
      .navbar .nav li a {
        @include font-nav;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }

// <!-- standings
//  ================================================== -->
//tables
.pool-name th{
    background-color: $blue;
}
// <!-- Locations
//  ================================================== -->
//ul
.locations.row{
    padding: inherit;
}
.locations.row li{
    background-color: $blue;
    list-style-type: none;

}
